.container {
  width: 320px;
  color: #314d3e;
  background-color: white;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.error-title {
  display: none;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.error-title p {
  margin-top: 0;
}

.error-title span {
  font-size: 12px;
  font-weight: 500;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.bookmarks {
  margin: 5px 5px;
  padding: 3px;
}

.bookmark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #00254d;
  border-radius: 4px;
  padding: 8px 4px;
  margin-bottom: 8px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  color: #00254d;
  font-weight: 500;
}

.bookmark-title {
  padding-left: 2px;
}

.bookmark-controls img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.bookmark-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 2px;
}
