* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 360px;
  color: #314d3e;
  background-color: #faf8fa;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  font-size: 20px;
  font-weight: 700;
  padding: 8px 8px 0;
}

.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.weatherBox {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  background-color: #aeadae25;
  padding: 8px;
  border-radius: 4px;
}

.weatherBox .updateWeather {
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin-top: 4px;
}

.weatherBox .updateWeather.updating {
  animation: rotate 1s linear infinite;
}

.weatherBox .weatherImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: #00254d;
  margin-top: 4px;
  display: none;
}

.weatherBox .weatherImage img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.weatherDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.weatherDetails .weatherTitle {
  font-size: 14px;
  font-weight: bold;
}

.weather .titleWeather {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.weather button.getWeather {
  background-color: white;
  border: 1px solid #314d3e;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.weather button.getWeather:hover {
  background-color: #f3f3f3;
}

.weather button.getWeather:active {
  background-color: #e6e6e6;
}

.weatherData {
  margin: 0;
  display: flex;
  align-items: center;
}

.weatherDataContent {
  width: 50%;
  font-size: 12px;
  font-weight: 500;
}

.weatherDataContent span {
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 8px 0;
}

.error-title {
  display: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
}

.error-title p {
  margin-top: 0;
}

.error-title span {
  font-size: 12px;
  font-weight: 500;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.bookmarks {
  display: none;
  padding: 0 8px;
}

.bookmark {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: white;
  border: 1px solid #00254d;
  border-radius: 4px;
  padding: 8px 4px;
  margin-bottom: 8px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  color: #00254d;
  font-weight: 500;
}

.bookmark .bookmarkContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmark .titleEditor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.bookmark .titleEditor input {
  font-size: 12px;
  margin: 0;
  padding: 4px;
  flex-grow: 1;
}

.bookmark .titleEditor button {
  background-color: #00254d;
  color: #faf8fa;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}

.bookmark .titleEditor button:hover {
  opacity: 0.9;
}

.bookmark .titleEditor button:active {
  opacity: 0.7;
}

.bookmark-title {
  padding-left: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.bookmark-title p {
  margin: 0;
}

.bookmark-controls img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.bookmark-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 2px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
